<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザー情報の部分テンプレート-->
      <%= render 'books/user', user:@user %>

      <!--新規投稿の部分テンプレート-->
      <%= render 'books/new', book:@book %>
    </div>

    <div class="offset-md-1 col-md-8" >
      <table class="table">
        <h2>Users</h2>

            <thead>
              <tr>
                <th></th>
                <th>image</th>
                <th>name</th>
                <th></th>
                <th colspan="3"></th>
              </tr>
            </thead>
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <td><%= image_tag user.get_profile_image(100, 100) %></td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", "/users/#{user.id}" %></td>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>