<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <!--ユーザー情報の部分テンプレート-->
      <%= render 'books/user', user:@user %>

      <!--新規投稿の部分テンプレート-->
      <%= render 'books/new', book:@book %>
    </div>

    <div class="offset-md-1 col-md-8" style="background-color: white;">
      <table class="table table-striped">
       <h2>Books</h2>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100, 100) %></td>
            <td><%= link_to book.title, "/books/#{book.id}" %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>