<!--ユーザー情報の部分テンプレート-->
<%= render 'books/user', user:@user %>

<br><div class="container">
  <div class="row">
    <div class="col-sm-2" style="background-color: white;">
      <h2>Users</h2>
    </div>
    <div class="col-sm-2">
      <table class="table table-striped">

          <h1>Books</h1>

          <% @books.each do |book| %>
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <%= image_tag users.get_profile_image(100, 100) %><br>

                </td>
                <td><%= link_to book.title, "/books/#{book.id}" %></td>
                <td><%= book.body %></td>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>

<!--新規投稿の部分テンプレート-->
<%= render 'books/new', book:@book %>