<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <!--ユーザー情報の部分テンプレート-->
      <%= render 'books/user', user:@user %>

      <!--新規投稿の部分テンプレート-->
      <%= render 'books/new', book:@newbook %>
    </div>

    <div class="offset-md-1 col-md-8">
      <table class="tabled">
        <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <th>
                  <%= link_to user_path(@user.id) do %>
                  <%= image_tag @user.get_profile_image(100, 100) %><br>
                  <%= @user.name %>
                  <% end %>
                </th>
                <th><%= link_to @book.title, book_path(@book.id) %></th>
                <th><%= @book.body %></th>
                <% if @book.user == current_user %>
                  <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
                  <th><%= link_to "Destroy", book_path(@book), method: :delete %></th>
                <% end %>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>